---
const year = "2025";
const footerLinkText = "Terms & Conditions";
const footerLinkUrl = "/terms-and-conditions/";
---

<footer>
  <p>Rhino Africa {year} © - <a href={footerLinkUrl}>{footerLinkText}</a></p>
</footer>

<style lang="scss">
  footer {
    background-color: #232323;
    color: rgb(130, 130, 130);
    padding: 20px;
    text-align: center;
  }
</style>